{% extends "admin.html.twig" %}
{% block body %}
<div class="row">
    <div class="col-xs-6 col-sm-3">
       {{ include('admin/navigation.html.twig') }}
    </div>
    <div class="col-md-6">
           contenu
    </div>
</div>
{% endblock %}