<div class="item item-type-move">
		<a class="item-hover" href="http://dribbble.com/shots/710530-Living-Stream" target="_blank">
			<div class="item-info">
				<div class="headline">
					Hand Lettering Process
					<div class="line"></div>
				</div>
				<div class="date">February 29, 2014</div>							<div class="voire">Voire</div>
			</div>
			<div class="mask"></div></a>
	<div class="item-img"><img src="{{ asset('images/img1.jpg') }}" alt="" /></div>
</div>			