<div class="page-header">
        <div class="container">
        <div class="barhaute">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">Panier(0)</span>
                   <span class="connexion">Connexion</span> 
        <div class="logo">ZahraShop</div>
        </div>
                
        <ul class="menu">
            <li>Homme</li>
            <li>Femme</li>
            <li>Enfant</li>
            <li>Maison</li>
            <li><a href="{{ path('acueil_admin') }}">Admin</a></li>
        </ul>   
    </div>
</div>