<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ asset('images/img1.jpg') }}" alt="img1">
      <div class="caption">
        <h3>Title</h3>
         <h4>Prix (FCFA)</h>
        <p>description</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
  ...
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ asset('images/img2.jpg') }}" alt="img2">
      <div class="caption">
        <h3>Title</h3>
         <h4>Prix (FCFA)</h4>
        <p>Description</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
</div>